Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you
might choose one over the other.

In label in coding the function automatically take rank as alphabetically , but in ordinal we have permission to rank the elements as we want.

In [1]:
import pandas as pd
df = pd.DataFrame({
    
    'color' : ['red' , 'green' , 'blue' , 'green' , 'red' , 'blue']

})

In [6]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
l_encode  = LabelEncoder()

In [5]:
l_encode.fit_transform(df[['color']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 1, 0, 1, 2, 0])

In [9]:
o_encode = OrdinalEncoder(categories=[['red' , 'green' , 'blue']])

In [10]:
o_encode.fit_transform(df[['color']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in
a machine learning project.

An ordinal encoding involves mapping each unique label to an integer value.

In [11]:
import seaborn as sns

In [25]:
df = sns.load_dataset('tips')

In [26]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [33]:
tip_ = df.groupby('sex')['tip'].mean().to_dict()

In [34]:
df['tip_encoded'] = df['sex'].map(tip_)

In [36]:
df.head()

   total_bill   tip     sex smoker  day    time  size tip_encoded
0       16.99  1.01  Female     No  Sun  Dinner     2    2.833448
1       10.34  1.66    Male     No  Sun  Dinner     3    3.089618
2       21.01  3.50    Male     No  Sun  Dinner     3    3.089618
3       23.68  3.31    Male     No  Sun  Dinner     2    3.089618
4       24.59  3.61  Female     No  Sun  Dinner     4    2.833448

Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

Covariance is important in statistical analysis because it helps us understand the relationship between two variables. A positive covariance indicates that the two variables tend to move in the same direction, while a negative covariance indicates that they tend to move in opposite directions. A covariance of zero indicates that there is no linear relationship between the two variables.

In [28]:
# how to calculate covariance
import seaborn as sns
df = sns.load_dataset('tips')

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
df.cov()

/tmp/ipykernel_446/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

            total_bill       tip      size
total_bill   79.252939  8.323502  5.065983
tip           8.323502  1.914455  0.643906
size          5.065983  0.643906  0.904591

Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,
large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.
Show your code and explain the output.

In [37]:
df = pd.DataFrame({
    
    'color' : ['red', 'green', 'blue'] ,
    'size' : ['small', 'medium', 'large'] , 
    'material' : ['wood', 'metal', 'plastic']

})

In [38]:
df

   color    size material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [39]:
from sklearn.preprocessing import LabelEncoder

In [40]:
L_encode = LabelEncoder()

In [72]:
L_encode.fit_transform(df['color']) # In this label encoding rank as alphabetically

array([2, 1, 0])

In [73]:
L_encode.fit_transform(df['size']) # In this label encoding rank as alphabetically

array([2, 1, 0])

In [74]:
L_encode.fit_transform(df['material']) # In this label encoding rank as alphabetically

array([2, 0, 1])

Q6. You are working on a machine learning project with a dataset containing several categorical
variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD),
and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for
each variable, and why?

In [78]:
df = pd.DataFrame({
    
    "Gender" : ['Male' , 'Female' , 'Male' , 'Female'],
    "Education Level" : ['High School' , "Bachelor's" , "Master's" , 'PhD'],
    "Employment Status" : ['Unemployed' , 'Part_Time' , 'Full_Time' , 'Full_Time' ]

})

In [79]:
df

   Gender Education Level Employment Status
0    Male     High School        Unemployed
1  Female      Bachelor's         Part_Time
2    Male        Master's         Full_Time
3  Female             PhD         Full_Time

In [82]:
# I use ordinal encoding because in ordinal encoding we rank elements as we want

from sklearn.preprocessing import OrdinalEncoder
o_encoder = OrdinalEncoder(categories=[['Male' , 'Female']])
o_encoder.fit_transform(df[['Gender']])

array([[0.],
       [1.],
       [0.],
       [1.]])

In [83]:
o_encoder = OrdinalEncoder(categories=[['PhD' , "Master's" ,  "Bachelor's" , 'High School'  ]])
o_encoder.fit_transform(df[['Education Level']])

array([[3.],
       [2.],
       [1.],
       [0.]])

In [86]:
o_encoder = OrdinalEncoder(categories= [[ 'Full_Time',  'Part_Time','Unemployed']])
o_encoder.fit_transform(df[['Employment Status']])

array([[2.],
       [1.],
       [0.],
       [0.]])

Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two
categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/
East/West). Calculate the covariance between each pair of variables and interpret the results.

In [8]:
import pandas as pd
df = pd.DataFrame({
    
    "Temperature" : [44 , 36 , 45 , 46 , 38 , 29 , 47 , 38 , 25 ] , 
    
    "Humidity" : ['Dry' , 'Foggy' , 'moisture' , 'Foggy' , 'moisture' , 'Foggy' , 'Dry' , 'Foggy' , 'Foggy' ] , 
    
    "Weather_Condition" : ['Sunny' , 'Cloudy' , 'Rainy' , 'Cloudy' , 'Rainy' , 'Cloudy' , 'Sunny' , 'Cloudy' , 'Cloudy'] , 
    
    "Wind_Direction" : ['North' , 'East' , 'West' , 'South' , 'North' , 'East' , 'West' , 'South' , 'South']

})

In [22]:
df_1 = df[['Temperature'	,'Humidity']]

In [23]:
df_2 = df[['Temperature'	,'Weather_Condition']]

In [24]:
df_3 = df[['Temperature'	,'Wind_Direction']]

In [25]:
df_1.cov()

/tmp/ipykernel_446/58120963.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_1.cov()

             Temperature
Temperature         60.0

In [26]:
df_2.cov()

/tmp/ipykernel_446/836721762.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_2.cov()

             Temperature
Temperature         60.0

In [27]:
df_3.cov()

/tmp/ipykernel_446/338469319.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_3.cov()

             Temperature
Temperature         60.0